@media screen and (min-width: 600px) {
    .mainShow>img {
        display: block;
        float: right;
    }

    .gallery {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
    }

    .rules,
    .newContainer,
    .specificContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3px;
        overflow-x: auto;
    }

    .NewArrivals {
        width: 30vw !important;
    }
}