:root {
    --white-Color: white;
    --black-Color: black;
    --white-red: #dae9dcc5;
    --full-width: 99vw;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 166, 0, 0.603);
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 5px;
    direction: ltr;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

@font-face {
    font-family: "Jet";
    src: url("/fonts/JetMono.ttf");
}

@font-face {
    font-family: "mom";
    src: url("/fonts/momR.ttf");
}

body {
    font-family: "mom";
    background-color: var(--white-red);
    margin: 0;
    padding: 0 0 0 5px;
}

.nav_bar {
    background-color: var(--white-Color);
    width: var(--full-width);
    height: 6vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.nav_bar>h2 {
    font-size: 7ch;
}

.nav_bar>img {
    height: 5vh;
    padding: 0 8px 0 8px;
}

.mainShow {
    background-color: var(--white-red);
    width: var(--full-width);
    height: 100vh;
}

.mainShow>h1 {
    margin: 0;
    padding: 20vh 0 0 0;
    font-size: 15ch;
    margin-right: 5rem;
}

.mainShow>img {
    display: none;
}


.mainShow>h2 {
    font-family: "Jet";
    font-size: 4ch;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 15vw;
}

.mainShow>button {
    font-family: "mom";
    font-size: 7ch;
    border-radius: 20px;
    background-color: orange;
    padding: 9px;
    width: 10ch;
    margin-top: 5rem;
    color: var(--white-Color);
    outline: none;
    border: 0;
}

.Spacialities {
    width: var(--full-width);
    height: 50vh;
    height: inherit;
}

.Spacialities>h1 {
    font-size: 12ch;
    margin-top: 2vh;
}

.Spacialities>span,
.newContainer>span,
.gallery>span {
    width: 30vw;
    padding: 0;
    margin: 0;
    display: block;
    border-top: 2px solid orange;
}

.Spacialities>h1,
.OurProducts>h1 {
    font-size: 8ch;
}

.Spacialities>p {
    font-size: 6ch;
    margin: 2vw;
    padding-bottom: 1rem;
}

.specific {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

.specific>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.specific>h2 {
    font-size: 8ch;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
}

.specific>p {
    font-size: 5ch;
    text-align: center;
}

.TshirtContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.Tshirts,
.NewArrivals {
    background-color: var(--white-Color);
    width: 280px;
    margin-right: 10px;
    /* For full Width to the right */
    flex: 0 0 auto;
    border: 2px solid var(--white-red);
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}


.Tshirts>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    width: 280px;
    border-radius: 2%;
    height: 300px;
}

.Tshirts>h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: orange;
}

h1 {
    font-size: 50px;
}

.limitedTime {
    font-size: 30px;
    color: var(--white-Color);
    background-blend-mode: darken;
    text-align: center;
    padding: 10px;
    background-color: rgba(2, 14, 68, 0.788);
    /*   background-image: url(/images/logo.png); */
    background-size: cover;
}

.NewArrivals {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80vw !important;
    padding: 5px !important;
    text-align: center !important;
}

.gallery {
    width: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.gallery>img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.SomeRules {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    width: 25vw;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
}

.SomeRules>i {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.SomeRules>h1 {
    padding: 0;
    margin: 0;
}

.contact {
    text-align: center;
    align-items: center;
    padding: 15px;
}

.contact>input {
    width: 90vw;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.contact>textarea {
    width: 80vw;
    height: 30vh;
    font-size: 20px;
    display: block;
    margin-top: 10px;
    color: orange;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.contact>button {
    width: 100px;
    font-size: 50px;
    border: none;
    border-right: 2px solid orange;
    border-left: 2px solid orange;
    border-bottom: 2px solid orange;
    font-family: mom;
    margin-right: 5vw;
    float: right;
}

.reachOut {
    margin-top: 10vh;
    width: var(--full-width);
    height: 70vh;
    background-color: var(--white-Color);
}