.link {
    float: right;
    margin-right: 30px;
    color: orange;
    text-decoration: none;
}

a {
    color: orange;
}

table,
td,
th {
    border: 2px solid black;
    padding: 5px;
    margin: auto;
    width: 90vw;
    border-collapse: collapse;
    text-align: center;
}

td {
    white-space: normal !important;
}

:root {
    --white-Color: white;
    --black-Color: black;
    --white-red: #f5f5f5;
    --full-width: 99vw;
}

@font-face {
    font-family: "Jet";
    src: url("/fonts/JetMono.ttf");
}

@font-face {
    font-family: "mom";
    src: url("/fonts/momR.ttf");
}

body {
    font-size: 2.4vw;
    font-family: "mom";
    background-color: var(--white-red);
}