<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TShirt Store</title>
  <link rel="stylesheet" th:href="@{/css/AdminPanel.css}" type="text/css" />
</head>

<body>
  <h3 style="text-align: center;">Welcome Admin</h3>
  <a class="link" href="/admin/AddUser">Add Authorities</a><!-- AuthoController -->
  <a class="link" href="/admin/ShowUser">Show Authorities</a><!-- AuthoController -->
  <a class="link" href="/admin/AddProduct">Add Product</a><!-- ProductController -->
  <a class="link" href="/admin/ShowProducts">Show Products</a><!-- ProductController -->
  <a class="link" href="/admin/AddImages">Add Images</a><!-- ImagesController -->
  <a class="link" href="/admin/ShowImages">Show Images</a><!-- ImagesController -->
  <a class="link" href="/admin/AddCategory">Add Categories</a><!-- CagegoryController -->
  <a class="link" href="/admin/ShowCategories">Show Categories</a><!-- CagegoryController -->
  <a class="link" href="/admin/ShowOrders">Show Orders</a>
  <a class="link" href="/admin/PaymentTransactions">Payment Transactions</a>
</body>

</html>