<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Panel | TShirt Store</title>
  <link rel="stylesheet" th:href="@{/css/Panel.css}" type="text/css" />
</head>

<body>
  <h3 style="text-align: center;">Welcome Admin</h3>
  <a class="link" href="/Authority">Add Authorities</a><!-- AuthoController -->
  <a class="link" href="/admin/ShowAuthority">Show Authorities</a><!-- AuthoController -->
  <a class="link" href="/admin/ShowOrders">Show Orders</a>
  <a class="link" href="/admin/PaymentTransactions">Payment Transactions</a>
</body>

</html>