<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TShirt Store</title>
  <link rel="stylesheet" th:href="@{/css/AdminPanel.css}" type="text/css" />
</head>

<body>
  <h3 style="text-align: center;">Welcome Admin</h3>
  <a class="link" href="AddProduct">Add Product</a><!-- ProductController -->
  <a class="link" href="ShowProducts">Show Products</a><!-- ProductController -->
  <a class="link" href="ShowImages">Show Images</a><!-- ImagesController -->
  <a class="link" href="AddImages">Add Images</a><!-- ImagesController -->
  <a class="link" href="AddCategory">Add Categories</a><!-- CagegoryController -->
  <a class="link" href="ShowCategories">Show Categories</a><!-- CagegoryController -->
  <a class="link" href="ShowOrders">Show Orders</a>
  <a class="link" href="PaymentTransactions">Payment Transactions</a>
</body>

</html>