<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Shirt |Users</title>
</head>

<body>
    <table style="text-align: center; padding: 1rem; border: 2px solid blue;" border="1/2">
        <th>username</th>
        <th>email</th>
        <th>Phone Number</th>
        <th>Password</th>
        <th>Address</th>
        <th>First name</th>
        <th>Last name</th>
        <th>User Id</th>
        <th>Register Date</th>
        
        <tr th:each="U :${Users}">
            <td th:text="${U.username}"></td>
            <td th:text="${U.email}"></td>
            <td th:text="${U.phone_number}"></td>
            <td th:text="${U.passowrd_hash}"></td>
            <td th:text="${U.address}"></td>
            <td th:text="${U.fname}"></td>
            <td th:text="${U.lname}"></td>
            <td th:text="${U.user_id}"></td>
            <td th:text="${U.Regdate}"></td>
        </tr>
    </table>
</body>

</html>