<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.com">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T-Shirt Store</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css" />
  </head>

  <body>
    <div class="nav_bar">
      <img src="/images/logo.png" />
      <h2>T-Shirt Store</h2>
      <img src="/images/logo.png" />
    </div>

    <div class="mainShow">
      <h1>T-Shirt Store</h1>
      <h2>A Single-Product Bootstrap template</h2>
      <h2>
        <b>Six</b> Color Varinants and <b>SASS files</b> for an easy
        customisation
      </h2>

      <button>Buy Now</button>
    </div>

    <div class="Spacialities">
      <h1>Our Proudcts Spacialities</h1>
      <span></span>
      <h2>More Then Just A Look</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aliquid
        dolore ratione magni fugiat aut sapiente praesentium similique ut
        exercitationem neque laudantium nesciunt, officiis blanditiis fugit.
        Modi nulla veniam iste!
      </p>

      <div class="specific">
        <img src="/images/logo.png" />
        <h2>Unique Design</h2>
        <p>It's Good Looking Unique DesignIt's Good Looking Unique Design</p>
      </div>
      <div class="specific">
        <img src="/images/logo.png" />
        <h2>Unique Design</h2>
        <p>It's Good Looking Unique DesignIt's Good Looking Unique Design</p>
      </div>
      <div class="specific">
        <img src="/images/logo.png" />
        <h2>Unique Design</h2>
        <p>It's Good Looking Unique DesignIt's Good Looking Unique Design</p>
      </div>
    </div>

    <div class="Tshirts" th:each="U :${Users}">
      <img src="/images/logo.png" />
      <h1 style="color: orangered" th:text="${U.username}">Full Tshirt</h1>
      <h1 th:text="${U.user_id}">399.0 Rupee</h1>
    </div>
    <!-- 
      <h1>Hey Here's The T-Shirt Store</h1>
    <a href="Login">Login</a>
    <a href="Signup">SignUp</a>
    <a href="AllUsers">All Users</a> -->
  </body>
</html>
