<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management Panel | TShirt Store</title>
    <link rel="stylesheet" th:href="@{/css/Panel.css}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <h3 style="text-align: center;">Welcome Management</h3>
    <a href="logout" class="fa fa-sign-out logout"></a>
    <div class="container">
        <a class="link" href="/manage/AddProduct">Add Product</a><!-- ProductController -->
        <a class="link" href="/manage/ShowProducts">Show Products</a><!-- ProductController -->
        <a class="link" href="/manage/AddImages">Add Images</a><!-- ImagesController -->
        <a class="link" href="/manage/ShowImages">Show Images</a><!-- ImagesController -->
        <a class="link" href="/manage/AddCategory">Add Categories</a><!-- CagegoryController -->
        <a class="link" href="/manage/ShowCategories">Show Categories</a><!-- CagegoryController -->
        <a class="link" href="/AddAuthUser">Add Authorities</a><!-- AuthoController -->
    </div>
</body>
<style>
    .logout {
        margin-top: -3rem;
        float: right;
        margin-right: 30px;
        color: orange;
        text-decoration: none;
    }
</style>

</html>