<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management Panel | TShirt Store</title>
    <link rel="stylesheet" th:href="@{/css/Panel.css}" type="text/css" />
</head>

<body>
    <h3 style="text-align: center;">Welcome Management</h3>
    <a class="link" href="/manage/AddProduct">Add Product</a><!-- ProductController -->
    <a class="link" href="/manage/ShowProducts">Show Products</a><!-- ProductController -->
    <a class="link" href="/manage/AddImages">Add Images</a><!-- ImagesController -->
    <a class="link" href="/manage/ShowImages">Show Images</a><!-- ImagesController -->
    <a class="link" href="/manage/AddCategory">Add Categories</a><!-- CagegoryController -->
    <a class="link" href="/manage/ShowCategories">Show Categories</a><!-- CagegoryController -->
    <a class="link" href="/Authority">Add Authorities</a><!-- AuthoController -->
</body>

</html>