<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proudcts | T-Shirt Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/ShowData.css}" type="text/css" />

</head>

<body>
    <h1 style="text-align: center;">Products</h1>
    <a href="AddProduct" class="fa fa-pencil-square-o link"></a>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category ID</th>
            <th>Operate</th>
        </tr>
        <tr th:each="p :${AllProducts}">
            <td th:text="${p.product_id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.stock_quentity}"></td>
            <td th:text="${p.categories.category_id}"></td>
            <td><a th:href="'/manage/DeleteProduct?product_id=' + ${p.product_id}" class="fa fa-remove"></a> <a
                    th:href="'/manage/ModifyProduct?product_id=' + ${p.product_id}" class="fa fa-pencil-square"></a></td>
        </tr>
    </table>
</body>

</html>