<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories | T-Shirt Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/ShowData.css}" type="text/css" />

</head>

<body>
    <h1 style="text-align: center;">Categories</h1>
    <a href="AddCategory" class="fa fa-pencil-square-o link"></a>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Operate</th>
        </tr>
        <tr th:each="C :${AllCategories}">
            <td th:text="${C.category_id}"></td>
            <td th:text="${C.name}"></td>
            <td th:text="${C.description}"></td>
            <td><a th:href="'/manage/DeleteCategory?category_id=' + ${C.category_id}" class="fa fa-remove"></a> <a
                    th:href="'/manage/ModifyCategory?category_id=' + ${C.category_id}" class="fa fa-pencil-square"></a>
            </td>
        </tr>
    </table>
</body>

</html>