<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authority | Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/ShowData.css}" type="text/css" />

</head>

<body>
    <h1 style="text-align: center;">Authority</h1>
    <a href="AddAuthority" class="fa fa-pencil-square-o link"></a>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Address</th>
            <th>BDate</th>
            <th>Active</th>
            <th>Remove User</th>
            <th>Authorities</th>
        </tr>
        <tr th:each="A :${AllAuthority}">
            <td th:text="${A.id}"></td>
            <td th:text="${A.name}"></td>
            <td th:text="${A.email}"></td>
            <td th:text="${A.phone_Number}"></td>
            <td th:text="${A.address}"></td>
            <td th:text="${A.regdate}"></td>
            <td th:text="${A.Enabled}"></td>
            <td><a th:href="'/admin/DeleteAuthority?id=' + ${A.id}" class="fa fa-remove"></a></td>
            <td><a th:href="'/admin/GiveAuthority?id=' + ${A.id}" class="fa fa-pencil"></a></td>
        </tr>
    </table>
</body>

</html>